.timeline-year {
  flex-direction: column;
}

.timeline-month-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  break-inside: avoid;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.timeline-month {
  display: flex;
  color: #213547;
  background-color: white;
  flex-direction: column;
  width: calc(var(--month-days) * var(--day-width));
}

.timeline-month-tongue {
  width: 0px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #fafafa;
}

.timeline-month-arrow {
  width: 0px;
  border-top: 162px solid transparent;
  border-bottom: 162px solid transparent;
  border-left: 162px solid #fafafa;
}

.month-header {
  display: block;
  position: relative;
}

.month-name-anchor {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  width: 100%;
}
.season-images-container {
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.season-image-container {
  position: absolute;
  height: 100%;
  overflow: hidden;
  left: calc(var(--day-width) * var(--fragment-first-month-day));
  width: calc(var(--day-width) * var(--fragment-days));
}

/* First of 2 season fragments in month*/
.season-image-container:first-child:nth-last-child(2) {
  width: calc(
    var(--day-width) * var(--fragment-days) + 0.5 * var(--season-blending-width)
  );
}

/* Second of 2 season fragments in month*/
.season-image-container:nth-child(2):nth-last-child(1) {
  left: calc(
    var(--day-width) * var(--fragment-first-month-day) - 0.5 *
      var(--season-blending-width)
  );
  width: calc(
    var(--day-width) * var(--fragment-days) + 0.5 * var(--season-blending-width)
  );
  mask-image: linear-gradient(
    90deg,
    rgb(0 0 0 / 0%) 0px,
    rgb(0 0 0 / 100%) calc(var(--season-blending-width))
  );
}

.season-image {
  left: calc(
    var(--day-width) * -1 * var(--fragment-first-season-day) -
      var(--season-blending-width)
  );
  position: absolute;
  /* width must be at least large as the full season without stretching too much the image*/
  width: calc(var(--day-width) * 100 + var(--season-blending-width));
}

.month-name {
  border-radius: 4em;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  padding: 0.5em;
  width: 8em;
}

.season-bar {
  height: 24px;
  display: flex;
  flex-direction: row;
}

.season-bar-fragment {
  width: calc(var(--day-width) * var(--fragment-days));
}

.season-bar-fragment-decorator {
  width: var(--day-width);
}

.days-container {
  display: flex;
  flex-direction: row;
}

.day {
  flex: auto;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 0px;
  display: grid;
  width: var(--day-width);
  min-width: var(--day-width);
}
.day:last-of-type {
  border-right: 1px solid;
}

.day.weekend {
  background-color: lightgrey;
}

.day-of-month {
  border-bottom: 1px solid;
}

.moon-phase {
  height: 24px;
}

.day-of-week {
  height: 100px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  vertical-align: middle;
  transform: rotate(-180deg);
  justify-self: center;
  line-height: 1;
}
